{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

  {% include 'base/head.html' %}

</head>
<body class="col">

  {% include 'base/header.html' %}

  {% block content %}

  {% endblock %}

  {% include 'base/footer.html' %}

</body>
<script async src="https://pro.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-I3Hhe9TkmlsxzooTtbRzdeLbmkFQE9DVzX/19uTZfHk1zn/uWUyk+a+GyrHyseSq" crossorigin="anonymous"></script>
</html>