{% load i18n %}

  <nav class="container row-no-wrap">
    <ul class="menu container ju-c">
      <li class="menu-item"> <a class="home" href="/">Greg Csokas</a></li>
      <li class="menu-item"> <a href="/about/">Bio</a> </li>
      <li class="menu-item"> <a href="/cv/" disabled>CV</a> </li>
      <li class="menu-item"> <a href="/portfolio/" disabled>Portfolio</a> </li>
      <li class="menu-item"> <a href="/lab/">Lab</a>
        <ul class="container col-no-wrap sub-menu">
          {% if not categories %}
            <li class="">{% trans "no categories"|capfirst %}</li>
          {% else %}
            {% for category in categories %}
              <li class="sub-menu-item"> <a href="{% url 'blog:index' %}{{ category.slug }}/">{{ category.name }}</a> </li>
            {% endfor %}
          {% endif %}
        </ul>
      </li>
{#      <li class="menu-item search">#}
{#        <form class="container row-no-wrap" role="search" method="get" action="">#}
{#          <input class="search_text" type="text" name="search" id="search" placeholder="Search"/>#}
{#          <button class="search-button" type="submit"><i class="fal fa-search"></i></button>#}
{#        </form>#}
{#      </li>#}
{#      <li class="menu-item login">#}
{#        {% if user.is_authenticated %}#}
{#          <a href="/settings/"><i class="fal fa-sliders-h"></i></a>#}
{#        {% else %}#}
{#          <a href="/login/"><i class="fal fa-sign-in-alt"></i></a>#}
{#        {% endif %}#}
{#      </li>#}
{#      {% if user.is_authenticated %}#}
{#        <li class="menu-item login">#}
{#          <a href="/logout/"><i class="fal fa-sign-out-alt"></i></a>#}
{#        </li>#}
{#      {% endif %}#}
    </ul>
  </nav>