{% load static %}

<meta content="text/html" charset="UTF-8" />
<meta name="viewport" content="{{ meta.viewport }}">
<title>{{ meta.title }}</title>
<meta name="description" content="{{ meta.description }}" />
<meta name="keywords" content="{{ meta.keywords }}" />
<meta name="author" content="{{ meta.author }}" />

<link rel="stylesheet" type="text/css" href="{% static "css/golden-compass.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/colors.css" %}" />
{#<link rel="stylesheet" type="text/css" href="{% static "css/mediaquery.css" %}" />#}

<script async src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
  $( document ).ready(function() {
    $(".side-color").each(function () {
        var x = Math.floor(Math.random() * 256);
        var y = Math.floor(Math.random() * 256);
        var z = Math.floor(Math.random() * 256);
        var bgColor = "rgb(" + x + "," + y + "," + z + ")";
        $(this).css("background-color", bgColor);
    });
  });
</script>