{% extends 'base/base.html' %}
{% load martortags %}

{% block content %}
<section>
  <h3>{{ object.title }}</h3>
    <article>
      <header>
      </header>

      <div class="post-content-wo-img">
        {% if post.head_image != "no-img" %}
          <img class="head-image" src="{{ MEDIA_URL }}{{ post.head_image }}">
        {% endif %}

        <div>
          {{ post.content|safe_markdown }}
        </div>
      </div>
    </article>
  </section>
{% endblock %}