{% extends 'base/base.html' %}
{% load martortags %}

{% block content %}

  <section>
    <h3>post::list</h3>

      {% for post in posts %}
        <article class="container row-no-wrap">

          <header class="post-image ju-s">
            <div class="title-matrice">
              <div class="side-color"></div>
              <h4 class="by">{{ post.title }}</h4>
              <span class="by">by {{ post.author }}</span>
            </div>
          </header>

          <div class="post-content">
            <span>{{ post.content|safe_markdown|truncatewords:100 }}</span>
            <div class="container post-link ju-e"><a  href="{% url 'blog:index' %}{{ post.get_absolute_url }}">Tovább ...</a></div>
          </div>
        </article>
      {% endfor %}

  </section>
{% endblock %}